* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.music-container {
  position: relative;
  display: flex;

  padding: 20px 30px;
  margin: 100px 0;

  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);

  z-index: 10;
}

.img-cover {
  position: relative;
  width: 110px;
}

.img-cover::after {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 20px;
  width: 20px;
  left: 50%;
  bottom: 100%;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}

.img-cover img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: rotate 5s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-cover img {
  animation-play-state: running;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.volume-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  transform: translate(20px, 100%);
}

#volume-button {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: #ffeaef;
  border-radius: 0 0 5px 5px;
  z-index: 2;
  cursor: pointer;
}

.volume-container .volume-cover {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.volume-container .volume-shadow {
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
